#Requirements
#Python3
lxml==4.2.0
pandas==0.22.0
selenium==3.141.0
Scrapy==1.5.0
fuzzywuzzy==0.16.0
#Pyhton2
python-boilerpipe==https://github.com/OsmanMutlu/python-boilerpipe # A fork of the original
python-goose==https://github.com/OsmanMutlu/python-goose # A fork of the original
